<div class="project-tile {% if class is defined %} {{ class }} {% endif %}">

	<div class="project-tile__back back">
		<div class="back__inner">
			<img class="back__image" src="{{ image }}" alt="Image">
		</div>
	</div>

	<div class="project-tile__front front front--{{ color }}" style="background-color: {{ color }}">
		<a class="front__inner" href="{{ href }}">
			{% include "atoms/heading" with { class: "front__title", type: "h3", text: heading, color: "white"} %}
			{% include "atoms/paragraph" with { class: "front__subtitle", text: subheading, color: "white"} %}
			{% include "atoms/paragraph" with { class: "front__link link", text: "Mehr Infos" } %} 
		</a>
	</div>

</div>